@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    @RenderSection("PageStyle", false)

    <!-- BEGIN THEME STYLES -->
    <!-- WEB CSS ADD-->
    <link href="/Content/assets/frontend/jsweb/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/frontend/jsweb/css/frameworks.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/frontend/jsweb/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/frontend/jsweb/css/main-styles.css" rel="stylesheet" type="text/css" />
    <!--END WEB CSS ADD-->
    

    <link href="/Content/assets/global/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/Content/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    

    <link rel="shortcut icon" href="~/favicon.ico" />
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
        <script src="/Content/assets/global/plugins/respond.min.js"></script>
        <script src="/Content/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->


    <script src="/Content/assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="/Content/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    
    <!-- WEB  JS ADD-->
    <script src="/Content/assets/frontend/jsweb/scripts/fastclick.min.js" type="text/javascript"></script>
    <script src="/Content/assets/frontend/jsweb/scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="/Content/assets/frontend/jsweb/scripts/jquery.requestAnimationFrame.min.js" type="text/javascript"></script>
    <script src="/Content/assets/frontend/jsweb/scripts/jstz.js" type="text/javascript"></script>
    <script src="/Content/assets/frontend/jsweb/scripts/magnific-popup.min.js" type="text/javascript"></script>
    <script src="/Content/assets/frontend/jsweb/scripts/modernizr.js" type="text/javascript"></script>
    <script src="/Content/assets/frontend/jsweb/scripts/parallax.js" type="text/javascript"></script>
    <script src="/Content/assets/frontend/jsweb/scripts/rem.min.js" type="text/javascript"></script>
    <script src="/Content/assets/frontend/jsweb/scripts/validate.js" type="text/javascript"></script>
    <!-- WEB  JS ADD-->


    @RenderSection("PageScript", false)
</head>zz
    @RenderBody()
</html>